<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间(namespace)，作用就是对sql进行分类的管理，sql隔离 -->
<mapper namespace="com.jk.mapper.UserMapper">

	<insert id="insertUser" parameterType="com.jk.bean.User">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO user
		(username,birthday,sex,address) values
		(#{username},#{birthday},#{sex},#{address})
	</insert>

	<delete id="deletetUserById" parameterType="java.lang.Integer">
		delete from user
		where id = #{id}
	</delete>

	<update id="updateUser" parameterType="com.jk.bean.User">
		update user set
		username=#{username} where id=#{id}
	</update>

	<select id="selectUserById" parameterType="java.lang.Integer"
		resultType="com.jk.bean.User">
		select * from user where id=#{id}
	</select>

	<select id="selectUsers" resultType="com.jk.bean.User">
		select * from user
	</select>
</mapper>