<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间(namespace)，作用就是对sql进行分类的管理，sql隔离 -->
<mapper namespace="com.jk.mapper.UserMapper">

	<select id="selectOrderAndUser" resultType="com.jk.result.OrderUser">
		SELECT t1.*,t2.* FROM orders t1,t_user t2 WHERE t1.user_id=t2.id;
	</select>

</mapper>